<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
<p>Hello, </p>
<p>A login was detected from {{.IpAddrs}}<p>
<p>On the device {{.UserAgent}}</p>
<p>The Team</p>
</body>
</html>