<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
<p>Hello, </p>
<p>The recovery of your account was requested to continue with the recovery click here, if you did not request the recovery of your account Ignore this message:</p>
<p>Please log in at <a href="{{.UrlToken}}" rel="noopener">{{.UrlToken}}</a> 
<p>Best regards,</p>
<p>The Team</p>
</body>
</html>
